.header {
    grid-area: header;
    border-bottom: 1px solid #c2c2c2;
    position: sticky;
    top: 0;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;
    max-height: 56px;
    width: auto;
}

.sandwichIcon {
    justify-content: center;
}

.nav__sandwich{
    margin: 0%;
    padding: 0%;
}

.nav__sandwichIcon {
    width: auto;
    height: 56px;
} 


.youtubeIcon {
   
    
} 


.nav__youtubeLogo {
    width: 150%;
    height: 56px;
}

/* barra busqueda */
.searchBar{
    display: flex;
    flex-direction: row;
}
    
.searchBar__input{
    background-color: black;
    color: #c2c2c2;
    border-radius: 10px;
}